@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code {
    [Inject] public SubjectService service { get; set; } = default!;

    private bool _initialized;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        // Must do this immediately.  This sets the parameters in the component from the supplied ParameterView instance
        parameters.SetParameterProperties(this);
        if (!_initialized)
        {
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (state.User.Identity.IsAuthenticated)
                await service.LoadSubjects();

            _initialized = true;
        }

        await base.SetParametersAsync(ParameterView.Empty);
    }

}
